# Ensure timezone is set to UTC
TZ=UTC

# Airbrake config
AIRBRAKE_HOST=https://my-errbit-instance.com
AIRBRAKE_KEY=longvaluefullofnumbersandlettersinlowercase

# Authentication config
ENVIRONMENT=dev
ADMIN_CLIENT_ID=cognitoclientidforadminuser
IGNORE_JWT_EXPIRATION=false

# Database config
PGUSER=myuser
PGPASSWORD=password12345
PGHOST=localhost
PGPORT=5432
PGDATABASE=chargedb

# Override PGUSER and PGHOST with Docker-specific username/hostname when running in a container
PGUSER_DOCKER=postgres
PGHOST_DOCKER=db

# Server config
PORT=3000
HTTP_PROXY='http://proxy:3128'

# Rules service
RULES_SERVICE_URL='https://rules.service'
RULES_SERVICE_USER='username'
RULES_SERVICE_PASSWORD='password'
CFD_APP='TCM_WaterQuality_RuleApp'
CFD_RULESET='WaterQuality_RuleSet'
WML_APP='TCM_WasteFacilities_RuleApp'
WML_RULESET='WasteFacilities_RuleSet'
PAS_APP='TCM_Installations_RuleApp'
PAS_RULESET='Installations_RuleSet'
WRLS_APP='TEST_WRLS_Pre_SRoC_RuleApp'
WRLS_RULESET='WRLS_Pre_SRoC_RuleSet'
WRLS_SROC_APP='TEST_WRLS_SRoC_RuleApp'
WRLS_SROC_RULESET='WRLS_SRoC_RuleSet'

# Minimum date for Sroc charge period - defaults to 01-APR-2021 if not present
# We can specify an earlier date while waiting for the rules service 2021 endpoint to be created
SROC_MINIMUM_DATE='01-APR-2020'

# Test config
LOG_IN_TEST=false
